.env
.etlcore
.etlcore/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.ppk
*.pem
*.log
imgs
report
*.sql
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
imgs/
report/